.riquadro
{ 
    margin: auto;
    height: 100px;
    width: 100px;
    border: 5px solid black;
}

.btnDiv{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDiv #btn{
    border: 3px solid black;
    font-weight: bold;
    margin: 5px;
}